<div class="d-flex">
  <!--Sidebar-->
  <app-sidebar></app-sidebar>
  <!--fin del sidebar-->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. At illum, fuga vitae voluptates pariatur repellendus in nam, necessitatibus commodi totam doloremque quaerat! Cumque animi, cum corrupti quia vel sint accusantium?
      </div>
    </div>
  </div>

</div>